@model Instituto.Models.Profesore

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Profesore</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProfesor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProfesor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EspecialidadProfesor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EspecialidadProfesor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProfesor" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
